{% load blog_tags %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% block content%}
    {% endblock %}
</div>
{% if messages %}
    {% for message in messages %}
    {{ message.tags }} {{ message }}
{% endfor %}
{% endif %}
<div id="sidebar">
    <h2>My Blog</h2>
    <p>
        This is my blog.
        I`ve written {% total_posts %} posts so  far.
    </p>
      <hr>
    {% if user.is_authenticated %}
       Hi {{ user.username }}!
        <p><a href="{% url 'users-profile' %}">My profile</a></p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <p><a href="{% url 'login' %}">Log In</a></p>
        <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>

    {% endif %}
    <hr>
    <h3>Latest posts</h3>
    {% show_latest_post 3 %}

      <h3>Most commented posts</h3>
      {% get_most_commented_post as most_commented_post %}
      <ul>
         {% for post in most_commented_post %}
         <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
         </li>
         {% endfor %}
      </ul>
</div>

</body>
</html>